:root {
  --md-w: 768px;
  --lg-w: 992px;
}

.link-btn {
  text-decoration: none;
}

.icon-lg {
  width: 64px;
  height: 64px;
  filter: invert(23%) sepia(81%) saturate(2917%) hue-rotate(202deg) brightness(94%) contrast(94%);  
}

.icon-sm {
  width: 32px;
  height: 32px;
  filter: invert(17%) sepia(47%) saturate(5068%) hue-rotate(215deg) brightness(102%) contrast(89%);
}

.text-xl {
  font-size: 44px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.btn-main {
  outline: none;
  border: none;
  padding: 20px 30px;
  background-color: #104cba;
  color: white;
  font-size: larger;
  border-radius: 6px;
  cursor: pointer;
}

.btn-main:focus {
  outline: 1px solid blue;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.logo .title {
  margin-left: 3px;
  text-decoration: unset;
  color: white;
}

.logo img {
  width: 64px;
  object-fit: contain;
}

.card {
  width: 255px;
  max-width: 255px;
  height: 305px;
  background-color: white;
  padding: 30px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  position: relative;
}

#bg {
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
  clip-path: ellipse(100% 90% at top);
}

.main-nav {
  display: none;  
}

header nav ul {
  list-style: none;
  text-align: center;
  font-size: larger;
}

header nav ul li {
  padding: 10px;
}

header nav ul li a {
  color: white;
}

.menu-btn {
  margin-left: 10px;
  margin-top: 20px;
  cursor: pointer;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

section#intro .container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

section#intro h1 {
  margin: -140px auto 0;
  font-size: 70px;
}

section#intro p {
  max-width: 90%;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

#intro-buttons {
  position: relative;
}

#question-btn {
  position: absolute;
  top: 50%;
  left: calc(100% + 20px);
  transform: translateY(-50%);
}

section#services {
  margin-top: -80px;
  padding-top: 20px;
}

section#services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#services .card {
  margin-bottom: 30px;
}

section#contact {
  background-color: aliceblue;
}

section#contact ul {
  list-style: none;
  padding: 0;
}

section#contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-item {
  display: flex;
  flex-direction: row;
}

.contact-item .icon-sm {
  margin-top: 20px;
  margin-right: 20px;
}

#contact-form {
  align-self: stretch;
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 35px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}

#contact-form input,
#contact-form textarea {
  padding: 20px;
  margin-bottom: 20px;
}

#contact-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#contact-cancel-btn {
  margin-left: 20px;
}

footer {
  margin-top: 120px;
  background-color: #101c3d;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer .container {
  margin: 0 auto;
  padding: 80px 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

footer .container > div {
  flex-grow: 1;
  max-width: 40%;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer .items {
  list-style: none;
  padding: 0;
}

footer .items li {
  padding: 10px 10px 10px 0;
}

footer .copy {
  height: 90px;
  border-top: 1px solid rgba(255, 255, 255, .1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebar {
  width: 40vw;
  min-width: 300px;
  max-width: 80vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: rgba(255, 255, 255, 0.93);
  box-shadow: 2px 2px 35px rgba(0, 0, 0, 0.3);
  transition: left 0.4s;
}

#sidebar.sidebar-open {
  left: 0;
}

#sidebar .logo {
  margin: 15px 10px 10px 5px;
  justify-content: start;
  color: black;
}

#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidebar ul li {
  padding: 20px 30px;
  background-color: rgba(50, 50, 50, 0.1);
  margin-bottom: 10px;
}

#sidebar ul li:hover {
  background-color: rgba(50, 50, 50, 0.2);
}

#sidebar ul li a {
  color: black;
  font-size: larger;
  text-decoration: none;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: var(--md-w);
  }

  header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
  }

  section#intro h1 {
    margin: 0 auto;
  }

  #intro-buttons {
    margin-top: 10px;
  }
  
  section#services .container {
    display: grid;
    grid-template: "a b" "c d";
  }

  section#services .card {
    margin-left: 30px;
  }

  section#contact .container {
    flex-direction: row;
    text-align: left;
    padding: 20px;
  }

  section#contact .container > * {
    flex-grow: 1;
    padding: 20px 30px;
  }

  #contact-address {
    max-width: 50%;
  }

  #contact-form {
    margin-top: 10px;
    margin-bottom: -60px;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 60px 172px 62px;
  }

  #contact-form > input:nth-child(2) {
    margin-left: 15px;
  }

  #contact-form input[name="subject"] {
    grid-column-end: span 2;
  }

  #contact-form textarea {
    grid-column-end: span 2;
  }

  #contact-form button {
    grid-column-end: span 2;
    max-width: 230px;
  }

  footer {
    text-align: unset;
  }

  footer .container {
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: start;
  }

  footer .container > div:not(:first-child) {
    padding-left: 60px;
  }
  
  footer .logo {
    justify-content: start;
  }
}

@media (min-width: 992px) {
  .menu-btn {
    display: none;
  }

  .main-nav {
    display: block;  
  }

  .container {
    max-width: var(--lg-w);
  }

  section#services .container {
    display: flex;
    flex-direction: row;
  }

  footer .container {
    padding: 80px;
  }
}